1. The HelloWorld replacement

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print "Hello" instead of the number and for the multiples of five print "World". For numbers which are multiples of both three and five print "HelloWorld".

b) Put the result in a tuple and substitute "Hello" with "Python" and "World" with "Works".

In [7]:
#a): we loop over the element 
for i in range(1,100):
    if i%3==0:
        if i%5==0:
            print("HelloWorld")
        else:
            print("Hello")
    elif i%5==0 and i%3>0:
        print("World")
    else:
        print(i)

1
2
Hello
4
World
Hello
7
8
Hello
World
11
Hello
13
14
HelloWorld
16
17
Hello
19
World
Hello
22
23
Hello
World
26
Hello
28
29
HelloWorld
31
32
Hello
34
World
Hello
37
38
Hello
World
41
Hello
43
44
HelloWorld
46
47
Hello
49
World
Hello
52
53
Hello
World
56
Hello
58
59
HelloWorld
61
62
Hello
64
World
Hello
67
68
Hello
World
71
Hello
73
74
HelloWorld
76
77
Hello
79
World
Hello
82
83
Hello
World
86
Hello
88
89
HelloWorld
91
92
Hello
94
World
Hello
97
98
Hello
(1, 2, 'Python', 4, 'Wroks', 'Python', 7, 8, 'Python', 'Wroks', 11, 'Python', 13, 14, 'Hello World', 16, 17, 'Python', 19, 'Wroks', 'Python', 22, 23, 'Python', 'Wroks', 26, 'Python', 28, 29, 'Hello World', 31, 32, 'Python', 34, 'Wroks', 'Python', 37, 38, 'Python', 'Wroks', 41, 'Python', 43, 44, 'Hello World', 46, 47, 'Python', 49, 'Wroks', 'Python', 52, 53, 'Python', 'Wroks', 56, 'Python', 58, 59, 'Hello World', 61, 62, 'Python', 64, 'Wroks', 'Python', 67, 68, 'Python', 'Wroks', 71, 'Python', 73, 74, 'Hello World', 76, 77, 'Python', 79, 'Wroks', 'Python', 82, 83, 'Python', 'Wroks', 86, 'Python', 88, 89, 'Hello World', 91, 92, 'Python', 94, 'Wroks', 'Python', 97, 98, 'Python', 'Wroks')

tuple

In [8]:
#b) lets try in another way... we can create a list and then convert it in a tuple
list = []
for i in range(1,101):
    if i % 3 == 0  and i % 5 == 0 :
            list.append("Hello World")   
    elif i % 3 == 0 :                
            list.append("Hello")         
    elif i % 5 == 0 :
            list.append("World")
    else:
            list.append(i)
#print(list)

#to make the swap
for j in range(1,len(lista)):
        if list[j]=="Hello":
                list[j]="Python"
        elif list[j]=="World":
                list[j]="Wroks"

listToTuple=tuple(list)#storing the list in a tuple
print(listToTuple)
type(listToTuple) #just to check if the conversion was ok

(1, 2, 'Python', 4, 'Wroks', 'Python', 7, 8, 'Python', 'Wroks', 11, 'Python', 13, 14, 'Hello World', 16, 17, 'Python', 19, 'Wroks', 'Python', 22, 23, 'Python', 'Wroks', 26, 'Python', 28, 29, 'Hello World', 31, 32, 'Python', 34, 'Wroks', 'Python', 37, 38, 'Python', 'Wroks', 41, 'Python', 43, 44, 'Hello World', 46, 47, 'Python', 49, 'Wroks', 'Python', 52, 53, 'Python', 'Wroks', 56, 'Python', 58, 59, 'Hello World', 61, 62, 'Python', 64, 'Wroks', 'Python', 67, 68, 'Python', 'Wroks', 71, 'Python', 73, 74, 'Hello World', 76, 77, 'Python', 79, 'Wroks', 'Python', 82, 83, 'Python', 'Wroks', 86, 'Python', 88, 89, 'Hello World', 91, 92, 'Python', 94, 'Wroks', 'Python', 97, 98, 'Python', 'Wroks')

tuple

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [13]:
x="pippo"
y=4
print("Original Data-->",x,y)

def SwappingData(x,y):
    z=x
    #print(z)
    x=y
    #print(x)
    y=z
    #print(y)
    print("Swapped data first way-->", x,y)
    
SwappingData(x,y)

#now, without the z variable who makes things easier
a=5
b=4
print("Original Data-->",a,b)
def SwapFaster(x,y):
    x,y=y,x
    return x,y

print("Swapped data faster way-->",SwapFaster(a,b))

Original Data--> pippo 4
Swapped data first way--> 4 pippo
Original Data--> 5 4
Swapped data faster way--> (4, 5)

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [45]:
u=[7,3]
v=[6,5]
def Distance(u,v):
    d=((u[0]-v[0])**2+(u[1]-v[1])**2)**0.5
    print(d)
Distance(u,v)

2.23606797749979

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differences in capitalization

In [69]:
s="I topi non avevano nipoti"
print("Let's check the string ", s,"\n")
s=s.lower()
counter=0

for i in range(0,len(s)):
    for j in range(0,len(s)):
        if s[i]==s[j]:
            counter=counter+1
    if s[i]!=" ":
        print(s[i],' appears',counter,' times')
    if s[i]==" ":
        print("There are ", counter, " spaces in this sentence")
    s=s.replace(s[i],"")
    counter=0

Let's check the string  I topi non avevano nipoti

i  appears 4  times
t  appears 2  times
p  appears 2  times
n  appears 4  times
There are  4  spaces in this sentence
v  appears 2  times
o  appears 4  times

IndexError: string index out of range

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list:

In [72]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]
def countingDuplicates(l):
    counter=0
    for i in range(0,len(l)-1):
        n=l[i]
        for j in range(0,len(l)-1):
            if l[j]==n:
                counter=counter+1
        print(n," appears ",counter, " times.")
        l.remove(n)
        counter=0
    
countingDuplicates(l)

36  appears  3  times.
58  appears  1  times.
74  appears  1  times.
64  appears  1  times.
31  appears  2  times.
24  appears  1  times.
33  appears  1  times.
99  appears  1  times.
63  appears  2  times.
85  appears  3  times.
63  appears  1  times.
56  appears  2  times.
70  appears  3  times.
88  appears  1  times.
20  appears  2  times.
8  appears  1  times.
51  appears  3  times.
81  appears  1  times.
37  appears  1  times.
1  appears  1  times.
84  appears  4  times.
66  appears  2  times.
89  appears  2  times.
42  appears  2  times.
50  appears  2  times.
90  appears  1  times.
39  appears  1  times.
82  appears  1  times.
92  appears  1  times.
45  appears  3  times.
66  appears  1  times.
34  appears  2  times.
94  appears  1  times.
3  appears  2  times.
72  appears  1  times.
84  appears  3  times.
87  appears  1  times.
53  appears  1  times.
20  appears  1  times.
51  appears  2  times.

IndexError: list index out of range

Do the same without using user-defined functions, but exploiting only the Python data structures.

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [8]:
n=10
def square(n):
    p=n**2
    return p
    #print(n)
def cube(n):
    m=n**3
    return m
    #print(n)
#square(n)
#cube(n)
    
def _6power(n):
    m=cube(n)
    print(m)
    p=square(n)
    print(p)
    j=p**n
    print(j)
    return j
    
_6power(n)

1000
100
100000000000000000000

100000000000000000000

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [132]:
a=[]
i=0
for x in range(0,10):
    a.append(x**3)
    i=i+1
print(a)
#fancy way
cubes = [x**3 for x in range(10)]
print(cubes)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]
[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [75]:
list=[]
for i in range(0,100):
    for j in range(i+1,100):
        for k in range(j+1,100):
            if i**2+j**2==k**2:
                print(i,j,k)
                list.append(i)
                list.append(j)
                list.append(k)
tupleOfPythagoreans=tuple(list)
print(tupleOfPythagoreans)

3 4 5
5 12 13
6 8 10
7 24 25
8 15 17
9 12 15
9 40 41
10 24 26
11 60 61
12 16 20
12 35 37
13 84 85
14 48 50
15 20 25
15 36 39
16 30 34
16 63 65
18 24 30
18 80 82
20 21 29
20 48 52
21 28 35
21 72 75
24 32 40
24 45 51
24 70 74
25 60 65
27 36 45
28 45 53
30 40 50
30 72 78
32 60 68
33 44 55
33 56 65
35 84 91
36 48 60
36 77 85
39 52 65
39 80 89
40 42 58
40 75 85
42 56 70
45 60 75
48 55 73
48 64 80
51 68 85
54 72 90
57 76 95
60 63 87
65 72 97
(3, 4, 5, 5, 12, 13, 6, 8, 10, 7, 24, 25, 8, 15, 17, 9, 12, 15, 9, 40, 41, 10, 24, 26, 11, 60, 61, 12, 16, 20, 12, 35, 37, 13, 84, 85, 14, 48, 50, 15, 20, 25, 15, 36, 39, 16, 30, 34, 16, 63, 65, 18, 24, 30, 18, 80, 82, 20, 21, 29, 20, 48, 52, 21, 28, 35, 21, 72, 75, 24, 32, 40, 24, 45, 51, 24, 70, 74, 25, 60, 65, 27, 36, 45, 28, 45, 53, 30, 40, 50, 30, 72, 78, 32, 60, 68, 33, 44, 55, 33, 56, 65, 35, 84, 91, 36, 48, 60, 36, 77, 85, 39, 52, 65, 39, 80, 89, 40, 42, 58, 40, 75, 85, 42, 56, 70, 45, 60, 75, 48, 55, 73, 48, 64, 80, 51, 68, 85, 54, 72, 90, 57, 76, 95, 60, 63, 87, 65, 72, 97)

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [79]:
elements=(1,2)
listelements=[]
def normalization(elements):
    s=0
    for i in range(0,len(elements)):
        s=s+elements[i]**2
    print(s)
    s=s**0.5
    print(s)
    for j in range(0,len(elements)):
        listelements.append(elements[j]/s)
   
normalization(elements)
print(listelements)

5
2.23606797749979
[0.4472135954999579, 0.8944271909999159]